body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* app */
  --app-bg-color: #eff3f6;
  --app-padding: 50px;
  --app-color-text: #0066cd;
  --app-border-radius: 10px;
  /* header */
  --header-text-color: #fff;

  /* content */
  --content-bg-color: #fff;
  --content-padding: 20px;

  background-color: var(--app-bg-color);
}

.ant-card-head-title {
  white-space: normal !important;
}
